@font-face
{
  font-family: Centra;
  src: url('/asset/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}

@font-face
{
  font-family: Centra;
  src: url('/asset/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}

@font-face
{
  font-family: Centra;
  src: url('/asset/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

body
{
  font-family: Centra, -apple-system, BlinkMacSystemFont, sans-serif;
}

*
{
  box-sizing: border-box;
}

button
{
  border: none;
}